// Main.scss
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions.scss";

@import "bootstrap/scss/toasts";

.example_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button_modal{
    margin: 50px 50px;
    height: auto;
  }
  
  .carusel{
    background-color: $purple;
    width: 100%;
    height: auto;
    min-height: 400px;
  
    h3{
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      color: $white;
    }
    
    
  }

  .w{
    display: flex;
    width:calc(100% - 100px);
   

  }
  .accordion{
    width: calc(100% - 100px);
  }

}



